#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#test{
  background-color: aqua;
    position: relative;
    padding: 10px;
    width: 250px;
}
.love{
    background-color: red;
    font-size: large;
    padding: 5px;
    margin: 10px;
}